<section class="item" v-for="item in contents" v-cloak>
    <blockquote>
        <p v-html='item.attributes.content'></p>
        <p v-html='item.attributes.time'></p>
    </blockquote>
</section>
<div class="load-ctn">
    <button class="load-btn" v-on:click="loadMore" v-if="contents" v-cloak>Load more</button>
    <p class="tip" v-else>Loading...</p>
</div>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.13.1/dist/av-min.js"></script>
<script type="text/javascript">
    var {
        Query
    } = AV;

    AV.init({
        appId: "lypAdm04Ue9NTv3Fq3ONeVgk-MdYXbMMI",
        appKey: "3pDgFD1mhMrcy14dLgsFh5NX",
        serverURLs: "https://lncldglobal.lyccrius.site"
    });

    var query = new AV.Query('content');

    var app = new Vue({
        el: '#app',
        data: {
            page: 0,
            count: 0,
            contents: []
        },
        methods: {
            loadMore: function(event) {
                getData(++this.page);
            }
        }
    })

    function urlToLink(str) {
        var re = /(http|ftp|https):\/\/[\w-]+(.[\w-]+)+([\w-.,@?^=%&:/~+#]*[\w-\@?^=%&/~+#])?/g;;

        str = str.replace(re, function(website) {
            return "<a href='" + website + "' target='_blank'> <i class='iconfont icon-lianjie-copy'></i>链接 </a>";
        });
        return str;
    }

    function getData(page = 0) {
        query.descending('createdAt').skip(page * 20).limit(20).find().then(function(results) {
            if (results.length == 0) {
                alert('No more.')
            } else {
                let resC = results;
                reqData = false;
                resC.forEach((i) => {
                    let dateTmp = new Date(i.createdAt);
                    i.attributes.time = `${dateTmp.getFullYear()}-${(dateTmp.getMonth() + 1) < 10 ? ('0' + (dateTmp.getMonth()+1)) : dateTmp.getMonth()+1}-${(dateTmp.getDate() + 1) < 10 ? ('0' + dateTmp.getDate()) : dateTmp.getDate()} ${(dateTmp.getHours() + 1) <= 10 ? ('0' + dateTmp.getHours()) : dateTmp.getHours()}:${(dateTmp.getMinutes() + 1) <= 10 ? ('0' + dateTmp.getMinutes()) : dateTmp.getMinutes()}`;
                    i.attributes.content = "<pre>" + urlToLink(i.attributes.content) + "</pre>";
                    app.contents.push(i);
                })
            }

        }, function(error) {});
    }

    getData(0);
</script>