---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  <blockquote><p class="hitokoto">hitokoto</p></blockquote>
  <script src="https://cdn.bootcss.com/jquery/2.0.2/jquery.min.js"></script>
  <script src="https://hitokoto.lyccrius.site">
    $.post("https://hitokoto.lyccrius.site", function(hitokoto) {
        $(".hitokoto").html(hitokoto);
    });
  </script>
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}