---
layout: default
---
<?php $hitokoto = file_get_contents('https://lyccrius.github.io/hitokoto/'); ?>

<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<p class="hitokoto"></p>

<script type="text/javascript"src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
  $.post("https://lyccrius.github.io/hitokoto/", function(hitokoto) {
    $(".hitokoto").html(hitokoto);
  });
</script>